*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    border: 1px dashed grey;
    padding: 20px;
    width: 1200px;
    margin: 0 auto;
}

.scanword-wrap {
    border: 3px double black;
    display: inline-block;
}

.cell,
.question {
    width: 3rem;
    height: 3rem;
    line-height: 3em;
    display: inline-block;
    vertical-align: middle;
    line-height: 3rem;
    text-align: center;
    font-family: sans-serif;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

.cell {
    text-transform: uppercase;
    font-size: 30px;
}

.selected.active {
    background: grey;
}

.selected {
    background: rgb(197, 197, 197);
}

.question {
    background: lightgrey;
    font-size: 12px;
}

.done {
    background: lightblue;
}