*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    border: 1px dashed grey;
    padding: 20px;
    margin: 0 auto;
}

.scanword-wrap {
    border: 3px double black;
    display: inline-block;
}

.cell,
.question {
    width: 3rem;
    height: 3rem;
    line-height: 3em;
    display: inline-block;
    vertical-align: middle;
    line-height: 3rem;
    text-align: center;
    font-family: sans-serif;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

.question {
    position: relative;
    background: lightgrey;
    font-size: 10px;
}

.question:before {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 255, .2);
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    text-align: left;
    font-size: 22px;
}

.arrow-top-left:before {
    top: -100%;
    left: -100%;
}

.arrow-top:before {
    top: -100%;
}

.arrow-top-right:before {
    top: -100%;
    left: 100%;
}

.arrow-left:before {
    left: -100%;
}

.arrow-right:before {
    left: 100%;
}

.arrow-bottom-left:before {
    top: 100%;
    left: -100%;
}

.arrow-bottom:before {
    top: 100%;
}

.arrow-bottom-right {
    top: 100%;
    left: 100%;
}

.cell {
    text-transform: uppercase;
    font-size: 30px;
}

.selected.active {
    background: grey;
}

.selected {
    background: darkgrey;
}

.done {
    background: lightblue;
}